/*==============================通用变量（亮色主题）==============================*/
:root {
--common-color-1: rgba(255, 192, 203, 1);
--common-color-2: white;
--common-bg: white;
--common-text: #333;
--common-content:white;
--common-hover:rgba(255, 192, 203, 1);
--common-shadow: rgba(0, 0, 0, 0.1);
--common-cursor: rgba(255, 192, 203, 1);
--common-gradient: linear-gradient(90deg,  #45b7d1, #4ecd8d, #feb47b, #4ecd8d, #45b7d1);
}
/*==============================暗色主题变量==============================*/
body.dark-theme {
    --common-color-1: #3aaae7;
    --common-color-2: #1a237e;
    --common-bg: #15073c;
    --common-text: white;
    --common-hover: #3aaae7;
    --common-content:#333;
    --common-shadow: rgba(0, 0, 0, 0.3);
    --common-cursor:#3aaae7;
    --common-gradient: linear-gradient(90deg, #cc45d1,  #654ecd, #7b97fe, #654ecd, #cc45d1);
}